@import url('https://fonts.googleapis.com/css?family=Cambay&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';  
    scroll-behavior: smooth;
}

body{
    background-image: url(black-gold-weave.jpg);
    background-size: cover;
}

#navbar-logo{
    font-family: 'Cambay';
    font-size: 50;
    margin: 10;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(230, 180, 16), rgb(12, 165, 38));
    -webkit-background-clip: text;    
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.navbar-item{
    display: inline;
    margin: 10;
    font-size: 20;
}

.navbar-container{
    background-color: rgba(196, 192, 132, 0.438);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_links{
    color: white;
    text-decoration: none;
}

.navbar_links:hover {
    color: rgb(236, 236, 68,0.5);
}





